body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

ul {
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
  list-style-type: square;
}

.border {
  padding: 3px;
  float: left;
  height: 250px;
}

.style1 {
  background-color: teal;
  color: antiquewhite;
  width: 70%;
}
.style2 {
  background-color: lightskyblue;
  color: darkslateblue;
  width: 30%;
}

* {
  box-sizing: border-box;
}

.fix ::after {
  content: "";
  clear: both;
  display: table;
}

p {
  margin-top: 10px;
}

#p-size {
  font-size: 20px;
}

nav {
  position: static;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
