h1 {
  text-align: center;
}

ul {
  font-size: 25px;
  text-align: center;
  list-style-position: inside;
  list-style-type: square;
}

.border {
  padding: 3px;
  float: left;
  height: 200px;
}

.style1 {
  background-color: teal;
  color: antiquewhite;
  width: 70%;
}
.style2 {
  background-color: lightskyblue;
  color: darkslateblue;
  width: 30%;
}

* {
  box-sizing: border-box;
}

.fix ::after {
  content: "";
  clear: both;
  display: table;
}

p {
  padding: 20px;
}
